.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}

/* .item {
  display: flex;
  width: 350px;
  align-items: center;
}

.name {
  margin-right: 10px;
}

.number {
  margin-right: auto;
} */
